## GRE Prep Error Log Error log Dataset creation

In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# creating the error log dataframe

error_log = pd.DataFrame()

# creating the columns of the dataframe

columns = ['book', 'question_number', 'topic', 'trial_number', 'score']

for i in columns:
    error_log[i] = []

error_log

Empty DataFrame
Columns: [book, question_number, topic, trial_number, score]
Index: []

In [3]:
#creating error log for quant


def add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic):
    
    # listing out the question numbers
    question_number = [int(i) for i in range(1, total_question + 1)]
    
    # creating the score column
    score = []
    for i in range(len(question_number)):
        if question_number[i] in answered_wrongly:
            score.append(int(0))
        else:
            score.append(int(1))
            
    trial_number = [trial_number for i in range(total_question)]
    book = [book for i in range(total_question)]
    topic = [topic for i in range(total_question)]
    
    new_dataframe = pd.DataFrame({'book':book, 'question_number':question_number, 'topic':topic, 'trial_number':trial_number, 'score':score})
    
    return new_dataframe

In [4]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'trial_1'

mixed_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,mixed_geometry_errors], axis = 0)

error_log

# percentage score
#round(mixed_geometry_errors['score'].sum()/len(mixed_geometry_errors['score']), 2)

             book  question_number           topic trial_number  score
0   manhattan_5lb              1.0  Mixed Geometry      trial_1    1.0
1   manhattan_5lb              2.0  Mixed Geometry      trial_1    0.0
2   manhattan_5lb              3.0  Mixed Geometry      trial_1    0.0
3   manhattan_5lb              4.0  Mixed Geometry      trial_1    0.0
4   manhattan_5lb              5.0  Mixed Geometry      trial_1    0.0
5   manhattan_5lb              6.0  Mixed Geometry      trial_1    1.0
6   manhattan_5lb              7.0  Mixed Geometry      trial_1    1.0
7   manhattan_5lb              8.0  Mixed Geometry      trial_1    1.0
8   manhattan_5lb              9.0  Mixed Geometry      trial_1    1.0
9   manhattan_5lb             10.0  Mixed Geometry      trial_1    1.0
10  manhattan_5lb             11.0  Mixed Geometry      trial_1    0.0
11  manhattan_5lb             12.0  Mixed Geometry      trial_1    1.0
12  manhattan_5lb             13.0  Mixed Geometry      trial_1    0.0
13  manhattan_5lb             14.0  Mixed Geometry      trial_1    1.0
14  manhattan_5lb             15.0  Mixed Geometry      trial_1    0.0
15  manhattan_5lb             16.0  Mixed Geometry      trial_1    1.0
16  manhattan_5lb             17.0  Mixed Geometry      trial_1    1.0

In [5]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17

answered_wrongly = [4,5,11,13,20,21]
topic = 'cordinate Geometry'
trial_number = 'trial_1'

cordinate_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)

error_log = pd.concat([error_log,cordinate_geometry_errors], axis = 0)

round(cordinate_geometry_errors['score'].sum()/len(cordinate_geometry_errors['score']),2)

0.76

In [6]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 40

answered_wrongly = [4,9,18,21,25,27,30,31,32,34,37,40]
topic = 'triangle'
trial_number = 'trial_1'

triangle_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,triangle_errors], axis = 0)

error_log

# percentage score
round(triangle_errors['score'].sum()/len(triangle_errors['score']), 2)

0.7

In [7]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'trial_1'

mixed_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,mixed_geometry_errors], axis = 0)

error_log

# percentage score
#round(mixed_geometry_errors['score'].sum()/len(mixed_geometry_errors['score']), 2)

             book  question_number           topic trial_number  score
0   manhattan_5lb              1.0  Mixed Geometry      trial_1    1.0
1   manhattan_5lb              2.0  Mixed Geometry      trial_1    0.0
2   manhattan_5lb              3.0  Mixed Geometry      trial_1    0.0
3   manhattan_5lb              4.0  Mixed Geometry      trial_1    0.0
4   manhattan_5lb              5.0  Mixed Geometry      trial_1    0.0
..            ...              ...             ...          ...    ...
12  manhattan_5lb             13.0  Mixed Geometry      trial_1    0.0
13  manhattan_5lb             14.0  Mixed Geometry      trial_1    1.0
14  manhattan_5lb             15.0  Mixed Geometry      trial_1    0.0
15  manhattan_5lb             16.0  Mixed Geometry      trial_1    1.0
16  manhattan_5lb             17.0  Mixed Geometry      trial_1    1.0

[91 rows x 5 columns]

In [8]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'trial_1'

mixed_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,mixed_geometry_errors], axis = 0)

error_log

# percentage score
#round(mixed_geometry_errors['score'].sum()/len(mixed_geometry_errors['score']), 2)

             book  question_number           topic trial_number  score
0   manhattan_5lb              1.0  Mixed Geometry      trial_1    1.0
1   manhattan_5lb              2.0  Mixed Geometry      trial_1    0.0
2   manhattan_5lb              3.0  Mixed Geometry      trial_1    0.0
3   manhattan_5lb              4.0  Mixed Geometry      trial_1    0.0
4   manhattan_5lb              5.0  Mixed Geometry      trial_1    0.0
..            ...              ...             ...          ...    ...
12  manhattan_5lb             13.0  Mixed Geometry      trial_1    0.0
13  manhattan_5lb             14.0  Mixed Geometry      trial_1    1.0
14  manhattan_5lb             15.0  Mixed Geometry      trial_1    0.0
15  manhattan_5lb             16.0  Mixed Geometry      trial_1    1.0
16  manhattan_5lb             17.0  Mixed Geometry      trial_1    1.0

[108 rows x 5 columns]

In [9]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'trial_1'

mixed_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,mixed_geometry_errors], axis = 0)

error_log

# percentage score
#round(mixed_geometry_errors['score'].sum()/len(mixed_geometry_errors['score']), 2)

             book  question_number           topic trial_number  score
0   manhattan_5lb              1.0  Mixed Geometry      trial_1    1.0
1   manhattan_5lb              2.0  Mixed Geometry      trial_1    0.0
2   manhattan_5lb              3.0  Mixed Geometry      trial_1    0.0
3   manhattan_5lb              4.0  Mixed Geometry      trial_1    0.0
4   manhattan_5lb              5.0  Mixed Geometry      trial_1    0.0
..            ...              ...             ...          ...    ...
12  manhattan_5lb             13.0  Mixed Geometry      trial_1    0.0
13  manhattan_5lb             14.0  Mixed Geometry      trial_1    1.0
14  manhattan_5lb             15.0  Mixed Geometry      trial_1    0.0
15  manhattan_5lb             16.0  Mixed Geometry      trial_1    1.0
16  manhattan_5lb             17.0  Mixed Geometry      trial_1    1.0

[125 rows x 5 columns]

In [ ]:
# adding information for the Mixed_geometry data
# parameters
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'trial_1'

mixed_geometry_errors = add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic)    

# concatenating the this dataframe with error log dataframe
error_log = pd.concat([error_log,mixed_geometry_errors], axis = 0)

error_log

# percentage score
#round(mixed_geometry_errors['score'].sum()/len(mixed_geometry_errors['score']), 2)

In [13]:
# creating proper data type

error_log['score'] = error_log['score'].astype('int')
error_log['question_number'] = error_log['question_number'].astype('int')

# saving the dataset as csv file

error_log.to_csv('quant_errors.csv')

             book  question_number           topic trial_number  score
0   manhattan_5lb                1  Mixed Geometry      trial_1      1
1   manhattan_5lb                2  Mixed Geometry      trial_1      0
2   manhattan_5lb                3  Mixed Geometry      trial_1      0
3   manhattan_5lb                4  Mixed Geometry      trial_1      0
4   manhattan_5lb                5  Mixed Geometry      trial_1      0
..            ...              ...             ...          ...    ...
35  manhattan_5lb               36        triangle      trial_1      1
36  manhattan_5lb               37        triangle      trial_1      0
37  manhattan_5lb               38        triangle      trial_1      1
38  manhattan_5lb               39        triangle      trial_1      1
39  manhattan_5lb               40        triangle      trial_1      0

[74 rows x 5 columns]

## Creating Error Log For Verbal

In [16]:
# creating the error log dataframe

VR_error_log = pd.DataFrame()

# creating the columns of the dataframe

columns = ['book', 'question_number', 'topic', 'trial_number', 'score']

for i in columns:
    VR_error_log[i] = []

VR_error_log

Empty DataFrame
Columns: [book, question_number, topic, trial_number, score]
Index: []

In [18]:
#creating error log for quant


def add_subject(book, total_question, answered_wrongly, trial_number, question_type, topic):
    
    # listing out the question numbers
    question_number = [int(i) for i in range(1, total_question + 1)]
    
    # creating the score column
    score = []
    for i in range(len(question_number)):
        if question_number[i] in answered_wrongly:
            score.append(int(0))
        else:
            score.append(int(1))
            
    trial_number = [trial_number for i in range(total_question)]
    book = [book for i in range(total_question)]
    topic = [topic for i in range(total_question)]
    
    new_dataframe = pd.DataFrame({'book':book, 'question_number':question_number, 'topic':topic, 'trial_number':trial_number, 'score':score})
    
    return new_dataframe

0.73

In [21]:
# creating proper data type

error_log['score'] = error_log['score'].astype('int')
error_log['question_number'] = error_log['question_number'].astype('int')

# saving the dataset as csv file

error_log.to_csv('VR_errors.csv')

## Creating Error Log For Practice Tests