In [1]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# loading the dataset

quant_dataset = pd.read_csv('quant_errors.csv')
quant_dataset

,Unnamed: 0,book,question_number,topic,trial_number,score
0,0,manhattan_5lb,1,Mixed Geometry,trial_1,1
1,1,manhattan_5lb,2,Mixed Geometry,trial_1,0
2,2,manhattan_5lb,3,Mixed Geometry,trial_1,0
3,3,manhattan_5lb,4,Mixed Geometry,trial_1,0
4,4,manhattan_5lb,5,Mixed Geometry,trial_1,0
...,...,...,...,...,...,...
157,39,manhattan_5lb,40,prob_combinations,trial_1,1
158,40,manhattan_5lb,41,prob_combinations,trial_1,0
159,41,manhattan_5lb,42,prob_combinations,trial_1,1
160,42,manhattan_5lb,43,prob_combinations,trial_1,1
161,43,manhattan_5lb,44,prob_combinations,trial_1,1

In [3]:
quant_dataset.describe(include = 'all')

,Unnamed: 0,book,question_number,topic,trial_number,score
count,162.000000,162,162.000000,162,162,162.000000
unique,NaN,1,NaN,6,1,NaN
top,NaN,manhattan_5lb,NaN,prob_combinations,trial_1,NaN
freq,NaN,162,NaN,44,162,NaN
mean,15.191358,NaN,16.191358,NaN,NaN,0.691358
std,11.213642,NaN,11.213642,NaN,NaN,0.463365
min,0.000000,NaN,1.000000,NaN,NaN,0.000000
25%,6.000000,NaN,7.000000,NaN,NaN,0.000000
50%,13.000000,NaN,14.000000,NaN,NaN,1.000000
75%,21.750000,NaN,22.750000,NaN,NaN,1.000000
max,43.000000,NaN,44.000000,NaN,NaN,1.000000

In [4]:
quant_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       162 non-null    int64
 1   book             162 non-null    object
 2   question_number  162 non-null    int64
 3   topic            162 non-null    object
 4   trial_number     162 non-null    object
 5   score            162 non-null    int64
dtypes: int64(3), object(3)
memory usage: 7.7+ KB

In [5]:
# percentage of overall score

round((quant_dataset['score'].sum()/len(quant_dataset['score'])) * 100)

69.0