## GRE Prep Error Log Analysis

In [4]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
# creating the error log dataframe

error_log = pd.DataFrame()

# creating the columns of the dataframe

columns = ['book', 'question_number', 'topic', 'trial_number', 'score']

for i in columns:
    error_log[i] = []

error_log

Empty DataFrame
Columns: [book, question_number, topic, trial_number, score]
Index: []

In [22]:
#creating error log for quant
book = 'manhattan_5lb'
total_question = 17
question_type = 'mixed_geometry'
answered_wrongly = [2,3,4,5,11,13,15]
topic = 'Mixed Geometry'
trial_number = 'first_trail'

def add_subject(book, total_question, answered_correctly, question_type, topic):
    
    # listing out the question numbers
    question_number = [i for i in range(1, total_question + 1)]
    
    # creating the score column
    score = []
    for i in range(len(question_number)):
        if question_number[i] in answered_wrongly:
            score.append(0)
        else:
            score.append(1)
            
    trial_number = ['trial_number' for i in range(total_question)]
    book = [book for i in range(total_question)]
    topic = [topic for i in range(total_question)]
    
    new_dataframe = pd.DataFrame({'book':book, 'question_number':question_number, 'topic':topic, 'trial_number':trial_number, 'score':score})
    
    return new_dataframe


    
add_subject(book, total_question, answered_correctly, question_type, topic)

             book  question_number           topic  trial_number  score
0   manhattan_5lb                1  Mixed Geometry  trial_number      1
1   manhattan_5lb                2  Mixed Geometry  trial_number      0
2   manhattan_5lb                3  Mixed Geometry  trial_number      0
3   manhattan_5lb                4  Mixed Geometry  trial_number      0
4   manhattan_5lb                5  Mixed Geometry  trial_number      0
5   manhattan_5lb                6  Mixed Geometry  trial_number      1
6   manhattan_5lb                7  Mixed Geometry  trial_number      1
7   manhattan_5lb                8  Mixed Geometry  trial_number      1
8   manhattan_5lb                9  Mixed Geometry  trial_number      1
9   manhattan_5lb               10  Mixed Geometry  trial_number      1
10  manhattan_5lb               11  Mixed Geometry  trial_number      0
11  manhattan_5lb               12  Mixed Geometry  trial_number      1
12  manhattan_5lb               13  Mixed Geometry  trial_number      0
13  manhattan_5lb               14  Mixed Geometry  trial_number      1
14  manhattan_5lb               15  Mixed Geometry  trial_number      0
15  manhattan_5lb               16  Mixed Geometry  trial_number      1
16  manhattan_5lb               17  Mixed Geometry  trial_number      1